body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a, label {
    font-size: .8rem;
}

.box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 400px;
   padding: 40px;
   box-sizing: border-box;
   box-shadow: 0 15px 25px rgba(0,0,0,.5);
   background: rgba(0,0,0,.8) ;
   border-radius: 10px;

}

.box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.box .inputBox {
    position:relative
}

.box .inputBox input {
    width: 100%;
    padding:  10px 0;
    font-size: 16px;
    color: #fff;
    border: none;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.box .inputBox label{
    position:absolute;
    top:0;
    left: 0;
    padding:  10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

#forgot-pass{
 color:#fff;
 text-align: right;    
 display: block;
 font-size: 12px;
}

#forgot-pass:hover{
    color: #02a9f4;
    transition: .5s;
}

#social-container p {
    text-align: center;
    font-size: 12px;
    color:#fff;
}

#registre-container p{
    font-size: 12px;
} 

#registre-container p,
#registre-container a {
    text-align: center;
    color:#fff;
    display: block;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
 {
    top:-18px;
    left: 0;
    color: #02a9f4;
    font-size: 12px;
 }

 .box input[type="submit"] {
     background: transparent;
     border: none;
     outline: none;
     color: #fff;
     background: #03a9f4;
     padding: 10px 20px;
     cursor: pointer;
     border-radius: 5px;
     width: 100%;
     margin-top: 30px;
 }

 
 .box input[type="submit"]:hover {
    background: #028dce;
    transition: .5s;
 }


 #social-container, #social-container p {
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
}

#social-container i {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    color: #FFF;
    cursor: pointer;
    margin: 0 5px;
}


.fa-facebook{
    background-color: #08558b;
}

.fa-linkedin{
    background-color: #0077B5;
}

#social-container i:hover{
    background-color: #1B223C;
    transition: .5s;
}

#registre-container a:hover{
    color: #02a9f4;
    transition: .5s;
}
